
body {
  background: url("../img/classy_fabric.png");
  position: relative;
}

p {
  text-align: left;
  line-height: 1.2;
  font-family: 'Cardo', serif;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0px;
}



.title-bar {
  position: fixed;
  width: 115px;
  z-index: 200;
  background: rgba(0, 0, 0, .8);
  padding: .7rem; }

.top-bar {
    z-index: 202;
    top: 48px;
    width: 115px;
    position: fixed;
    background: rgba(0, 0, 0, .8); }
  .top-bar ul {
    background: transparent; }
    .top-bar ul li {
      text-align: left;
      background: transparent; }
      .top-bar ul li a {
        color: #fff; }



.menu>li>a {
  font-family: "Oswald";
  display: block;
  padding: .5rem 1rem;
  line-height: 1;
}

.menu-text {
  color: #fff; }
  @media only screen and (max-width: 40em) {
    .menu-text {
      display: none !important; } }

@media only screen and (min-width: 40em) {
  .top-bar .menu:last-child {
    border-left: 1px solid #4e4e4e; } }

  .top-bar .menu:first-child {
    border-left: none; }

  .top-bar .menu li:not(:last-child) {
     }

.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }


#logo {
  height: 35px;
}

#welcome {
  width:100%;
  z-index: -1;
  position: relative;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

a.anchor {
    display: block;
    position: relative;
    top: 0px;
    visibility: hidden;
}

.content-section{
position: relative;
box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
padding: 15px;
background-color: white;
}



  .top-bar .top-bar-center {
    width: 100%; }
  @media screen and (min-width: 40em) {
    .top-bar .top-bar-center {
      width: auto; } }
  @media screen and (max-width: 63.9375em) {
    .top-bar.stacked-for-medium .top-bar-center {
      width: 100%; } }
  @media screen and (max-width: 74.9375em) {
    .top-bar.stacked-for-large .top-bar-center {
      width: 100%; } }

  .top-bar-right {
    float: none;
}


#namebox {
    display: none;
    position: absolute;
    width: 100%;
    top: 232px;
    text-align: center;
    color: white;
    font-size: 42px;
    line-height: 1;
    font-family: 'Bowlby One SC', sans-serif;
    text-shadow: 2px 2px 4px #222222;
}

.typebox {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: "Arvo";
  font-weight:300;
}

#phrase-1 {
  top: 316px;
  display: none;
}

#phrase-2 {
  top: 338px;
  display: none;
}

.spacer {
  width: 100%;
  height: 75px;
  background-color: transparent;
}



.center-text {
  text-align: center;
}

.header-row {
  text-align: center;
}


.header-panel {
  display: inline-block;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 35px auto 2px auto;
  padding: 0 14px;
}

.section-header {
  font-family: 'Bowlby One SC', sans-serif;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.19);
}

.section-header-invert {
  color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  font-family: 'Bowlby One SC', sans-serif;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.49);

}

.svg {
  width:90%;
}


/*About Section*/
#about-row {
  height: 30%;
}



#about-section {
  z-index: 95;
  position: relative;
  background: url("../img/cork-board.jpg");
  background-size: cover;
  background-repeat: none;
}


.about-img-panel {
    height: 100%;
    /* margin: 0 25% 0 25%; */
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.about-img {
  height:100%;
  width:100%;
  
}

#neumos {
  display: none;
}

#about-img-neumos {
  background: url("../img/neumos.jpg") left center;
  background-size: cover;
}



#about-img-brent {
  background: url("../img/about-img.jpg") center top;
  background-size: cover;
}

#about-text-container{
     padding: 0px;
    height: 100%;
    margin: 2% auto 0 auto;

}

#about-text {
    /* height: 100%; */
  margin: 0 auto;
  
  text-align: justify;
  line-height: 1;
  position: relative;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 10px;
}

#about-text p {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 5px;
}




/*PROJECTS SECTION*/

#projects-section {
  background: url("../img/table.jpg") no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}

.projects-header {
  margin-top: 0px;
  margin-bottom: 10px;
}




.project-name-header {
  display: block;
  margin: 0 auto 5px auto;
  width: 60%;
}

#projects-mini-nav{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.projects-text {
  position: relative;
  top: -14px;
  margin: 0px auto 0px auto;
  padding: 8px 18px 6px 18px;
  width: 100%;
  /*background-color: white;*/
  background: url("../img/metal.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}



.projects-text p {
  text-align: justify;
  font-size:13px;
  margin-bottom: 3px;
}

/*#imac {
  position: absolute;
  bottom: -480px;
  left: 0px;
}*/

#imac-container {
  position: absolute;
  bottom: -450px;
  left: 0px;
  background: url("../img/imac.png") no-repeat center bottom;
  background-size: contain;
}



#iphone-container {
  z-index: 5;
  width: 16%;
  position: absolute;
  bottom: -520px;
  left: 140%;
  background: url("../img/iphone6.png") no-repeat center bottom;
  background-size: contain;
  max-height: 126px;
  max-width: 63.59px;
}




#big-iphone-container {
  display: none;
  z-index: 5;
  width: 33%;
  position: absolute;
  bottom: -485px;
  left: 33%;
  background: url("../img/iphone6.png") no-repeat center bottom;
  background-size: contain;
}

#demo-wrapper {
  position: relative;
}

#connect-four-text-body {
  display: none;
  height: 185px;
}

#homeventory-text-body  {
  display: none;
  height: 205px;
}

#road-warrior-text-body {
  display: none;
  height: 275px;
} 

.desktop-img {
  position: absolute;
  bottom: -450px;
  left: 0px;
}

.mobile-img {
  position: absolute;
  bottom: -521px;
  left: 140%;
  width: 16%;
  max-height: 128.66px;
  max-width: 63.59px;
}

.big-mobile-img {
  width: 33%;
  position: absolute;
  bottom: -487px;
  left: 33%;
}

#homeventory-desktop {
  display: none;
}

#connect-four-desktop {
  display: none;
}

#homeventory-mobile {
  z-index: 15;
  display: none;
}

#connect-four-mobile {
  z-index: 16;
  display: none;
}

#road-warrior-mobile {
  z-index: 17;
  display: none;
}

#iphone-lock-screen {
  z-index: 18;
}

#screensaver {
    position: absolute;
    width: 90%;
    max-width: 95%;
    margin-top: 48%;
    left: 16px;
}

.project-svg-header {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.29);
  margin:0 auto 15px auto;
  display: block;
}

#project-intro-box {
  position: relative;
  width: 100%;
}

#arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
}

#intro-text {
    font-size: 18px;
    font-family: "Arvo";
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.19);
    color: white;
    position: absolute;
    top: 90px;
    left: 50px;
}

.dropdown-complete {
  margin-top: 3px;
    bottom: 20%;
    height: 60%;
}

.tech-icon-header{
  color: #222222;
  font-size: 14px;
  font-family: "Oswald";
  font-weight: 200;
  margin-bottom: 2px;
}

.tech-icon {
  width: 18px;
  margin: 1px;
}

.github-icon {
  background: url("../img/icons.github.svg") no-repeat contain;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 3px;
}

.project-link {
  display: inline-block;
  width: 95px;
  padding: 5px;
  line-height: 16px;
  border: 1px solid #777777 !important;
}

.project-links-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-in-btn {
  width: 20px;
  vertical-align: center;
  padding-bottom: 4px;
  padding-right: 3px;
}


.arrowflash {
  -moz-animation: arrowflash 1s ease-out;
  -moz-animation-iteration-count: 1000;

  -webkit-animation: arrowflash 1s ease-out;
  -webkit-animation-iteration-count: 1000;

  -ms-animation: arrowflash 1s ease-out;
  -ms-animation-iteration-count: 1000;
}

@-webkit-keyframes arrowflash {
    0% { opacity:1; }
    50% { opacity:.2; }
    100% { opacity:1; }
}

@-moz-keyframes arrowflash {
    0% { opacity:1; }
    50% { opacity:.2; }
    100% { opacity:1; }
}

@-ms-keyframes arrowflash {
     0% { opacity:1; }
    50% { opacity:.2; }
    100% { opacity:1; }
}

.button {
  color: #555555;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
  font-weight: 300;
  font-size: 13px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
        }


.button:visited {
    color: #555555; }
  .button:hover, .button:focus {
    color: #bbbbbb;
    background-color: #d6d6d6;
    text-decoration: none;
    outline: none; }
  .button:active, .button.active, .button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #a2a2a2;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
  .button.disabled, .button.is-disabled, .button:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important; }
    .button.disabled else, .button.is-disabled else, .button:disabled else {
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      opacity: .8 !important; }



  .button-half-rounded {
  border-radius: 5px 5px 0px 0px; }    

  .button-rounded {
  border-radius: 4px; }    

  .button-group {
  *zoom: 1;
  margin-bottom:0px;
  position: relative;
  top: -8px;
  display: inline-block; }
  .button-group:after, .button-group:before {
    content: '.';
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0; }
  .button-group .button,
  .button-group .button-dropdown {
   }
    .button-group .button:not(:first-child):not(:last-child),
    .button-group .button-dropdown:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-right: none; }
    .button-group .button:first-child,
    .button-group .button-dropdown:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none; }
    .button-group .button:last-child,
    .button-group .button-dropdown:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

  .button-raised {
  border-color: #c1c1c1;
  border-style: solid;
  border-width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e1e1e1));
  background: linear-gradient(#d6d6d6, #c1c1c1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15); }
  .button-raised:hover, .button-raised:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
    background: linear-gradient(top, white, gainsboro); }
  .button-raised:active, .button-raised.active, .button-raised.is-active {
    background: #eeeeee;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4);
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4); }

.project-btn {
  width: 33.3333333%;
  font-size: 10px !important;
  font-weight: 400;
  font-family: 'Bowlby One SC';
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.19);
}



.button-group .button:not(:last-child) {
  margin-right: 0px;
}


#contact-section {
  background: url("../img/grey.png");
}


.contact-row {
  text-align: center;
}

#contact-slogan {
  margin-top: 1%;
  font-family: "Arvo";
  font-size: 22px;
  text-align: center;
}

.contact-icons {
  font-size: 80px;
}

.contact-buttons {
  display: inline-block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #0C4D78;
  margin: 8px;
  width: 90px;
  height: 90px;
  position: relative;
  text-align: center;
  line-height: 90px;
  border-radius: 25%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}



.contact-buttons:hover{
  text-decoration: none;
  color: #147CC0;
  background: #f5f5f5;
}
.contact-buttons a {
  text-decoration: none;
  color: #0C4D78;
}
.contact-buttons a:hover {
  text-decoration: none;
  color: #147CC0;
}


@media (min-width: 321px) {
.big-mobile-img {
  bottom: -507px;
}

#big-iphone-container {
  bottom: -505px;
}

#imac-container {
  bottom: -490px;
}

.desktop-img {
  bottom: -490px;
}

#arrow {
  position: absolute;
  left: 30px;
  width: 70px;
}

#intro-text {
  top: 128px;
  left: 86px;
}

.project-btn {
  font-size: 11px !important;
} 
 
 #connect-four-text-body {
  display: none;
  height: 175px;
}

#homeventory-text-body  {
  display: none;
  height: 200px;
}



#road-warrior-text-body {
  display: none;
  height: 255px;
} 

.contact-buttons {
  width: 130px;
  height: 130px;
  line-height: 130px;
}
}



@media (min-width: 641px) {
h2 {
  font-size: 3rem;
}

a.anchor {
  top: -100px;
}
.not-scrolled {
  transition: background-color 0.5s ease;
  background-color: rgba(0, 0, 0, 0);
}

.scrolled {
  transition: background-color 0.5s ease;
  background-color: rgba(0, 0, 0, .9);
}

.menu {
  display:none;
  width: 704px;
  text-align: center;
  margin: 0 auto;
}

.menu > li > a {
    display: block;
    padding: 0.7rem 2rem;
    line-height: 1;
}

.top-bar {
  top: 0px;
}
.title-bar {
  z-index:200;
  background-color: black;
 position: fixed;
  padding: 0.9rem;
 }

#main-menu {
  position: fixed;
  padding: 1.7rem;
  z-index: 4000; 
  width: 100%;
}

#main-menu ul {
  background: transparent;
}
  
#main-menu ul li {
  background-color: rgba(0, 0, 0, 0);
}

#main-menu ul li a {
  color: #fff; }

a.main-link {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  font-size: 22px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 4px #222222;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a.main-link:hover {
  color: rgba(255, 255, 255, .7);
  text-shadow: 2px 2px 7px #222222;
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

a.active {
  border-bottom: 2px solid white !important;
}

.spacer { 
  height: 150px;
}

.typebox {
  font-size: 36px;

}

#phrase-1 {
  top: 45%;
}

#phrase-2 {
  top: 51%;
}

#namebox {
  top: 33%;
  font-size: 72px;
}

#about-row {
  height: 45%;
}

.about-img-panel {
    height: 90%;
    width: 48%;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 1%;
}



.header-panel {
  display: inline-block;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  margin: 10px auto 15px auto;
  padding: 0 14px;
}


#about-text-container{
  margin-top:0px;
  padding:0px;
  height:100%;

}



#about-text {
    width: 98%;
    margin: 1% auto;
    position: relative;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 16px 24px;
}


#about-text p {
  font-size: 15.5px;
}



#imac-container {
  position: absolute;
  bottom: -520px;
  background: url("../img/imac.png") no-repeat center bottom;
  background-size: contain;
  width: 100%;
  /* margin: 0 auto; */
  left: 50%;
  max-height: 485px;
  max-width: 397.5px;
}

#projects-mini-nav{
  width: inherit;
  text-align: right;
}

.dropdown-complete {
    margin-top: 0px;
    width: 95%;
    position: absolute;
    bottom: 30%;
    height: 60%;
}

#arrow {
  top: 30px;
  left: 40px;
}

#intro-text {
  font-size: 30px;
  top: 142px;
  left: 92px;
}


.desktop-img {
  position: absolute;
  bottom: -520px;
  left: 50%;
  width: 100%;
  max-height: 319.52px;
  max-width: 397.5px;
}


.projects-text {
  overflow: hidden;
  position: relative;
  top: -14px;
  margin: 0px auto 1rem auto;
  padding: 18px;
  width: inherit;
  /*background-color: white;*/
  background: url("../img/metal.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.projects-text p {
  text-align: justify;
  font-size:15px;
  margin-bottom: 5px;
}

#project-heading-title {
  position: relative;
  top: -40px;
}

.project-name-header {
  display: block;
  margin: 0 auto 5px auto;
  width: 40%;
}

.tech-icon {
    width: 20px;
    margin: 1px;
}

.tech-icon-header{
  margin-bottom: 2px;
}






  .button {
  color: #555555;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
        }


.project-btn {
  width: 33.3333333%;
  font-size: 14px !important;
  font-weight: 400;
  font-family: 'Bowlby One SC';
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.project-link {
  width: 105px;
  padding: 10px;
}

#connect-four-text-body {
  display: none;
  height: 200px;
}

#homeventory-text-body  {
  display: none;
  height: 215px;
}

#road-warrior-text-body {
  display: none;
  height: 285px;
} 


#big-iphone-container {
  width: 130px;
  bottom: -540px;
  left: 85%;
}

.big-mobile-img {
  width: 130px;
  bottom: -542px;
  left: 85%;
}





}

@media (min-width: 641px) and ( max-height: 800px ){
  #about-row {
  height: 40%;
}
}



@media (min-width: 641px) and ( min-height: 900px ) and ( max-height: 1025px ){
#about-text p {
    font-size: 13.5pt;
}


#screensaver {
    position: absolute;
    width: 90%;
    max-width: 95%;
    margin-top: 48%;
    left: 26px;
}

#road-warrior-text-body {
    display: none;
    height: 300px;
}

.big-mobile-img {
    width: 160px;
    bottom: -702px;
    left: 80%;
}

#big-iphone-container {
    width: 160px;
    bottom: -700px;
    left: 80%;
}
#imac-container {
    position: absolute;
    bottom: -700px;
    background: url("../img/imac.png") no-repeat center bottom;
    background-size: contain;
    width: 150%;
    /* margin: 0 auto; */
    left: 25%;
    max-height: none;
    max-width: none;
}

.desktop-img {
    position: absolute;
    bottom: -700px;
    left: 25%;
    width: 150%;
    max-height: none;
    max-width: none;
}

.mobile-img {
    position: absolute;
    bottom: -697px;
    left: 160%;
    width: 26%;
    max-height: none;
    max-width: none;
}

#iphone-container {
    z-index: 5;
    width: 26%;
    position: absolute;
    bottom: -695px;
    left: 160%;
    background: url("../img/iphone6.png") no-repeat center bottom;
    background-size: contain;
    max-height: none;
    max-width: none;
}
}













@media (min-width: 1024px) {



  #projects-mini-nav{
  width: 450px;
  text-align: center;
  }

  .dropdown-complete {
  margin-top: 0px;
  position: absolute;
  right: 5%;
  bottom: 12%;
  height: 60%;
  width: 41.66667%;
}

  #about-row {
  height: 500px;
  } 
  .about-img-panel {
  height: 100%;
  text-align: center; /* ensures the image is always in the h-middle */
  width: 25%;
  margin: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  padding: 10px;
  }

  #neumos {
  display: block;
  }


  #about-img-brent {
  background: url("../img/about-img.jpg") left center;
  background-size: cover;
  }

  #about-text {
  height: 100%;
  width: 90%;
  margin:0 auto;
  position: relative;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  padding: 16px 24px;
}


  #imac-container {
  position: absolute;
  bottom: -670px;
  left: 0px;
  background: url("../img/imac.png") no-repeat center bottom;
  background-size: contain;
  width: 100%;
  max-height: none;
  max-width: none;
  /* margin: 0 auto; */
}

#screensaver {
    left: 28px;
}

.mobile-img {
  width: 15.5%;
  position: absolute;
  bottom: -430px;
  left: 92%;
   max-height: none;
  max-width: none;
}

#big-iphone-container {
  position: absolute;
  width: 169px;
  bottom: -520px;
  left: 30%;
  max-height: none;
  max-width: none;
}

.big-mobile-img {
  position: absolute;
  width: 169px;
  bottom: -522px;
  left: 30%;
  max-height: none;
  max-width: none;
}

  #iphone-container {
  z-index: 5;
  width: 15.5%;
  position: absolute;
  bottom: -428px;
  left: 92%;
  background: url("../img/iphone6.png") no-repeat center bottom;
  background-size: contain;
  max-height: none;
  max-width: none;
  }

  .projects-text {
  overflow: hidden;
  position: relative;
  top: -14px;
  margin: 0px auto 1rem auto;
  padding: 18px;
  width: 450px;
  /*background-color: white;*/
  background: url("../img/metal.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  }

  #homeventory-text-body {
  height: 235px;
  }

  #road-warrior-text-body {
  height: 335px;
  }

  #connect-four-text-body {
  height: 225px;
  }

  #about-text p {
  font-size: 1em;
  line-height: 1.3;
  text-align: justify;
  margin-bottom: 10px;  
}

.desktop-img {
  position: absolute;
  width: 100%;
  left: 0px;
  max-height: none;
  max-width: none;
}

.project-btn {
  width: 33.3333333%;

  font-size: 13px !important;
  font-weight: 400;
  font-family: 'Bowlby One SC';
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#arrow {
    top: 10px;
    left: 60px;
    width: 90px;
}

#intro-text {
    font-size: 30px;
    top: 152px;
    left: 130px;
}

.tech-icon {
  width: 24px;
  margin: 2px;
}

.tech-icon-header{
  margin-bottom: 5px;
}

}


@media (min-width: 1024px) and ( min-height: 665px ){
  #imac-container, .desktop-img {
  bottom: -480px;
}

  #iphone-container {
  bottom: -470px;

}
  .mobile-img {
  bottom: -471px;

}
}

@media (min-width: 1024px) and ( min-height: 665px ){
  #imac-container, .desktop-img {
  bottom: -480px; 
}
  #iphone-container {
  bottom: -470px;

}
  .mobile-img {
  bottom: -471px;
}
}

@media (min-width: 1024px) and ( min-height: 700px ){
  #big-iphone-container {
  bottom: -516px;

}
  .big-mobile-img {
  bottom: -518px;
}
}

@media (min-width: 1024px) and ( min-height: 765px ){
  #imac-container, .desktop-img {
  bottom: -530px; 
}

  #iphone-container {
  bottom: -516px;
} 
  .mobile-img {
  bottom: -517px;
}
}


@media (min-width: 1024px) {
/*  .dropdown-complete {
  margin-top:10%;
  }*/
  #big-iphone-container, .big-mobile-img {
  width: 45%;
}
}


@media (min-width: 1230px) {
#about-text p {
  font-size: 1.1em;
}
}



@media (min-width: 1441px){




}